html
{
	min-height: 100%;
	margin-bottom: 1px;
}

html, body
{
	color: #FFFFFF;
	background: black url(back.png);
	background-attachment:fixed;
}

body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	background: url(imgs/title.png) no-repeat top;
	text-align: center;
	font-size: 100%;
	text-indent: -5000px; /* puts the text behind the background */
	width: 600px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

h2
{
	text-align: center;
	font-size: 130%;
}

h3
{
	text-align: center;
	font-size: 120%;
}

h5
{
	text-align: center;
	font-size: 100%;
	margin-bottom: 0.25em;
}

story_title, *.story_title
{
	color: #FFFFFF;
}

story_author, *.story_author
{
	color: #FFFFFF;
}

story_intro, *.story_intro
{
	color: #FF0000;
	font-size: 250%;
}

p.story
{
	color: #FFFFFF;
}

h4
{
	font-size: 110%;
	margin: 0.5em 0;
}

hilt, *.hilt, *.hilt .date
{
	color: #FFFF00;
}

done, *.done, *.bug_closed
{
	color: #22DD22;
}

bug_ajar, *.bug_ajar
{
	color: #22DDDD;
}

bug_nonrep, *.bug_nonrep
{
	color: #AA22DD;
}

inprog, *.inprog
{
	color: #FFFF55;
}

future, *.future
{
	color: #DDDDDD;
}

core, *.core
{
	color: #00FFFF;
}

req, *.req
{
	color: #FF8800;
}

bloat, *.bloat
{
	color: #AAFF00;
}

powergoal, *.powergoal
{
	color: #DD00FF;
}

*.error
{
	background-color: #FFAAAA;
	color: black;
}

a
{
	color: #77AAFF;
}

p.squeeze
{
	padding-left: 3em;
}

ul
{
	padding: 0.5em 0;
	margin: 0;
	clear: left;
}

ul li
{
	list-style: none inside;
	padding: 0.25em 1em 0 0.25em;
	margin: 0 0 0.5em 0;
	clear: left;
}

ul ul li
{
	padding: 0;
}

*.menu
{
	text-align: center;
}

ul.menu li
{
	padding: 0;
	display: inline;
}

ul.itemized
{
	margin: 1em 0 0 0;
	padding: 0 0 0 1em;
}

ul.itemized li
{
	list-style: disc inside;
	padding-left: 1em;
	margin-bottom: 0.5em;
}


ul.subitemized
{
	margin: 0 0 0 0;
	padding: 0 0 0 1em;
}

ul.subitemized li
{
	list-style: circle inside;
	padding-left: 1em;
	margin-bottom: 0.25em;
}


ul.screenshots li
{	
	display: block;
	float: left;
}

ul.screenshots img
{
	display: block;
	width: 160px;
	height: 75px;
}

ul.pairs, ul.compact
{
	clear: left;
}

ul.pairs li
{
	width: 45%;
	float: left;
	clear: none;
}

ul.compact li
{
	clear: none;
	float: left;
	width: 14em;
}


li p
{
	margin: 0;
}

div
{
	background: url(imgs/bar.jpg) no-repeat top;
	margin: 1em;
	padding-top: 1em;
	clear: both;
}

div div
{
	background: none;
	margin: 0;
	padding-top: 0;
}


img.screenshot
{
	border: 3px solid #333333;
}

textarea
{
	width: 100%;
	height: 40em;
	display: none;
}

body.editing textarea
{
	display: block;
}

*.hidden
{
	display: none;
}

div.text
{
	text-align: left;
	font-family: monospace;
	display: block;
	background: black none;
	color: silver;
	padding: 1em;
	height: 8em;
	overflow: auto;
	white-space: pre;
}

p.pagebreak
{
	display: block;
	height: 20em;
}

span.ikey
{
	font-family: monospace;
	color: lime;	
}

em
{
	color: yellow;
}

span.curse
{
	font-family: Courier, monospace;
}

ul li span.key
{
	min-width: 3em;
	float: left;
	padding-right: 0.5em;
}

*.diagram
{
	font-family: Courier, monospace;
	font-size: 200%;
	background-color: black;
	color: silver;
	text-align: center;
}

p.copyright
{
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

span.f_black { color: black; }
span.f_navy { color: navy; }
span.f_green { color: green; }
span.f_teal { color: teal; }
span.f_maroon { color: maroon; }
span.f_purple { color: purple; }
span.f_olive { color: olive; }
span.f_silver { color: silver; }
span.f_grey { color: grey; }
span.f_blue { color: blue; }
span.f_lime { color: lime; }
span.f_aqua { color: aqua; }
span.f_red { color: red; }
span.f_fuchsia { color: fuchsia; }
span.f_yellow { color: yellow; }
span.f_white { color: white; }
span.b_black { background-color: black; }
span.b_navy { background-color: navy; }
span.b_green { background-color: green; }
span.b_teal { background-color: teal; }
span.b_maroon { background-color: maroon; }
span.b_purple { background-color: purple; }
span.b_olive { background-color: olive; }
span.b_silver { background-color: silver; }

li.dev_progress
{
    margin-bottom: 20px;
    padding: 5px 10px 10px 10px;
    background: #111 url(imgs/bgstone.jpg);
    border: 1px solid #465;
    min-height: 27px;
    text-align: justify;
}
li.dev_progress .date
{
    display: block;
    float: left;
    position: relative;
    left: -14px;
    top: -8px;
    font-family: monospace;
    font-size: 12px;
    color: #B0C0A0;
    padding: 5px;
    background: #1a1a1a;
    border: 3px ridge #80B080;
    border-right: 1px solid #000900;
    border-bottom: 1px solid #000900;
    margin-right: -9px;
    margin-bottom: -12px;
}
li.dev_progress.hilt, li.dev_progress.hilt .date
{
    color: #FFFF00;
}

.author_img
{
    float: right;
    margin-left: 10px;
    margin-right: -5px;
    height: 32px;
    width: 32px;
    border: 0;
}